<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="navbar">
    <a href="index.html" class="logo-link"></a>
    <ul>
        <li><a href="login.html">Login</a></li>
        <li><a href="ordrer.html">Ordrer</a></li>
        <li><a href="admin.html">Admin</a></li>
    </ul>
</div>
<div class="main-content">
    <div class="Inventar-liste">
        <div class="Bestilling-box">
        <label> Stocklist </label>
        <table>
            <thead>
            <tr>
                <th>MaterialeID</th>
                <th>Navn</th>
                <th>Pris</th>
                <th>Længde</th>
                <th>Enhed</th>
                <th>Mængde i beholdning</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="material : ${materiallist}">
                <td th:text="${material.materialID}"></td>
                <td th:text="${material.name}"></td>
                <td th:text="${material.price}"></td>
                <td th:text="${material.length}"></td>
                <td th:text="${material.unit}"></td>
                <td th:text="${material.quantityInStock}"></td>
                <td>
                    <form method="post" action="/removematerial">
                        <input type="hidden" name="remove_material" th:value="${material.materialID}">
                        <button type="submit">Delete material</button>
                    </form>
                </td>
            </tr>
        </table>
            </div>
    </div>

    <div class="Ordre-liste">
        <div class="Bestilling-box">
        <label> Ordrer </label>
        <table>
            <thead>
            <tr>
                <th>OrdreID</th>
                <th>Kundens navn</th>
                <th>Pris</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orderlist}">
                <td th:text="${order.orderID}"></td>
                <td th:text="${order.user.email}"></td>
                <td th:text="${order.carport.totalPrice}"></td>
                <td th:text="${order.status}"></td>
                <td>
                    <form method="post" action="/removeorder">
                        <input type="hidden" name="remove_order" th:value="${order.orderID}">
                        <button type="submit">Delete order</button>
                    </form>
                    <form method="post" action="/acceptorder">
                        <input type="hidden" name="accept_order" th:value="${order.orderID}">
                        <button type="submit">Accept order</button>
                    </form>
                    <form method="post" action="/denyorder">
                        <input type="hidden" name="deny_order" th:value="${order.orderID}">
                        <button type="submit">Deny order</button>
                    </form>
                </td>
            </tr>
        </table>
            </div>
    </div>
    </div>






<div class="footer">
    <p>&copy; 2024 Sample Website. All Rights Reserved.</p>
</div>

</body>
</html>