<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fog - Chat</title>
    <link href="../public/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="chat-container" id="chat">
    <!-- Chat history -->
</div>



<!-- Input felt til chat -->
<div class="chat-input-container">
    <input type="text" class="chat-input" id="chatInput" placeholder="Type a message...">
    <button class="chat-send-button" id="sendMessageBtn">Send</button>
</div>

<script type="text/javascript" src="../public/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>
