<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>

<form method="post">
<div class="navbar">

    <a href="index.html" class="logo-link"></a>
    <ul>
        <li><a href="login.html">Login</a></li>
        <li><a href="ordrer.html">Ordrer</a></li>
        <li><a href="admin.html">Admin</a></li>
    </ul>
</div>
<div class="main-content">
    <div class="Bestilling-box">
    <div class="infoform">
        <input type="text" name="name" placeholder="Navn" required>
        <input type="text" name="lastname" placeholder="Efternavn" required>
    </div>
    <div class="infoform">
        <input type="text" name="streetname" placeholder="Vejnavn" required>
        <input type="text" name="streetnumber" placeholder="Nummer" required>
    </div>
    <div class="infoform">
        <input type="email" name="mail" placeholder="Email" required>
        <input type="tel" name="phonenumber" placeholder="Telefonnummer" required>
    </div>
    <div class="infoform">
        <textarea id="additional-comments" name="additional-comments" placeholder="TOS" readonly></textarea>
        <label for="agree">Jeg accepterer betingelserne</label>
        <input type="checkbox" id="agree" name="agree" required>
    </div>
        <a href="bestilling3.html" class="btn">Bestil</a>
    </div>
</div>

<div class="footer">
    <p>&copy; 2024 Sample Website. All Rights Reserved.</p>
</div>
</form>
</body>
</html>
