<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">

</head>
<body>
<div th:replace="~{fragments :: header}"></div>


<div class="main-content">

    <form method="post">
    <div class="Bestilling-box">
        <div class="dropdowns">
<fieldset>
            <label>Bredde</label>
        <select id="Bredde" name="Breddevalue">

            <option th:each="width: ${WidthList}"
                    th:value="${width}"
                    th:text="${width}">
            </option>

        </select>
            <label>Længde</label>
        <select id="Længde" name="Længdevalue">

            <option th:each="length: ${LengthList}"
                    th:value="${length}"
                    th:text="${length}">
            </option>

        </select>
            <label>Tagplader til</label>
            <select class="form-control" th:name="withRoof">
                <option th:value="0" >Nej</option>
                <option th:value="1" >Ja</option>
            </select>

            </fieldset>
        </div>
        <fieldset>
        <label for="message">Extra information</label>
    <textarea id="message" name="message" ></textarea>
        </fieldset>
        <button type="submit" formaction="/Continue" class="btn"> Fortsæt </button>
    </div>
    </form>
</div>

<div th:replace="~{fragments :: footer}"></div>


</body>
</html>
