<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<form method="post" action="order">
<div class="main-content">
    <div class="Bestilling-box2">
        <div class="Bestilling-box">
        <p> Du har Bestilt en Carport med følgende mål </p>
        </div>
        <p>
         Længde: <span type="text" name="Carportheight" required th:text="${session.Carport.length}">
        </p>
        <p>
            Bredde: <span type="text" name="Carportwidth" required th:text="${session.Carport.width}">
        </p>

        <p>
            Skur til : <span type="text" name="Carportwidth" required th:text="${session.Carport.hasShed}">
        </p>
    </div>
    </div>
</form>
<div class="carport-svg-topview">
    <div th:utext="${session.svg}"></div>
</div>

<div class="footer">
    <p>&copy; 2024 Sample Website. All Rights Reserved.</p>
</div>

</body>
</html>
