<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fog - Chat</title>
    <link href="../public/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet"/>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="chat-container" id="chat">
</div>

<div class="chat-input-container">
    <div th:if="${session.currentUser != null and session.currentUser.isAdmin == true}">
        <select id="Bredde" name="widthValue">
            <option th:each="width: ${widthList}"
                    th:value="${width}"
                    th:text="${width}">
            </option>
        </select>
        <label>Længde</label>
        <select id="Længde" name="lengthValue">
            <option th:each="length: ${lengthList}"
                    th:value="${length}"
                    th:text="${length}">
            </option>
        </select>
        <label>Tagplader til</label>
        <select th:name="withRoof">
            <option th:value="0" >Nej</option>
            <option th:value="1" >Ja</option>
        </select>

        <span>
            Send tilbud [ja / nej]
            <input type="checkbox" id="checkCarport">
        </span>
    </div>
    <input type="text" class="chat-input" id="chatInput" placeholder="Type a message...">

    <button th:if="${session.currentUser == null or session.currentUser.isAdmin == false}" class="chat-send-button" id="sendMessageBtn">Send</button>

    <button th:if="${session.currentUser != null and session.currentUser.isAdmin == true}" class="chat-send-button" id="sendAdminMessage">Send</button>
</div>

<script type="text/javascript" src="../public/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>
