<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create User </title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>


<div class="main-content">


    <div class="Container">
        <form method="post" action="/createUser">
            <fieldset>
                <br>
            <input type="text" name="firstName" placeholder="First Name" required>
            <br>
            <input type="text" name="lastName" placeholder="Last Name" required>
            <br>
            <input type="text" name="username" placeholder="Email" required>
            <br>
            <input type="password" name="password" placeholder="Password" required>
            <br>
            <input type="text" name="phoneNumber" placeholder="Phone Number" required>
            <br>
            <input type="text" name="streetName" placeholder="Street Name" required>
            <br>
            <input type="text" name="houseNumber" placeholder="House Number" required>
            <br>
            <input type="text" name="cityName" placeholder="City Name" required>
            <br>
            <input type="text" name="postalCode" placeholder="Postal Code" required>
            <br>
                <button type="submit" class="btn">Opret Bruger</button>
            </fieldset>

        </form>
    </div>
</div>

<div th:replace="~{fragments :: footer}"></div>


</body>
</html>