<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link href="../public/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet"/>
</head>
<body>
<div class="chat-container" id="chatContainer">
    <!-- Chat messages will appear here -->
</div>
<div class="chat-input-container">
    <input type="text" class="chat-input" id="chatInput" placeholder="Type a message...">
    <button class="chat-send-button" >Send</button>
</div>
<script></script>
</body>
</html>