<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="navbar">
    <form method="post">

            <button type="submit" formaction="/goToIndex" class="logo-link"></button>
              <ul>
            <li>
                <button type="submit" th:if="${session.currentUser != null && session.currentUser.password != null}" formaction="/logout" name="button" th:text="${session.currentUser.firstName} + ' | Logout'"></button>
                <button type="submit" th:if="${session.currentUser == null || session.currentUser.password == null}" formaction="/goToLogin" name="button">Login</button>
            </li>

            <li>
                <button type="submit" formaction="/goToUserSite" name="button" th:if="${session.currentUser != null}">Ordrer</button>
            </li>

            <li>
                  <button th:if="${session.currentUser != null} ? ${session.currentUser.isAdmin == true}"
                    type="submit" formaction="/loadadmin" name="button">Admin
            </button>
                  </li>


        </ul>
        <div class="Bestilling-box3" th:unless="${#strings.isEmpty(message)}" >
        <p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p>
        </div>
    </form>
</header>
<footer class="footer">
    <div th:if="${session.currentUser !=null}">
        <span th:text="${session.currentUser.email}"></span> |
    </div>
</footer>
</body>
</html>