<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body class="index-page">

<div class="navbar">
    <ul>
        <li><a href="#">Login</a></li>
    </ul>
</div>
<div class="main-content">
    <button class="btn">Bestil</button>
</div>
<div class="footer">
    <p>&copy; 2024 Sample Website. All Rights Reserved.</p>
</div>

</body>
</html>

