<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
  
<div class="navbar">
    <form method="post">
        <a th:href="@{index.html}" class="logo-link"></a>
    <ul>
        <li>
            <button type="submit" formaction="/goToLogin" name="button">Login</button>
        </li>

        <li>
            <button type="submit" formaction="/goToOrdrer" name="button">Ordrer</button>
        </li>

        <button th:if="${session.currentUser != null} ? ${session.currentUser.isAdmin == true}"
                type="submit" formaction="/loadadmin" name="button">Admin
        </button>

    </ul>
    </form>
</div>

<div class="main-content">
    <div>
        <p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p>
    </div>
    <form method="post">
        <div class="Billede-box">
        <label> Bestil carpot Idag </label>
                <button type="submit" formaction="/loadadmin">Customize</button>
        </div>

    <div class="Billede-box">
        <label> Bestil carpot Idag </label>
        <button type="submit" formaction="/CustomizeCarport">Customize</button>
    </div>
    </form>
</div>

<div class="footer">
    <p>&copy; 2024 Sample Website. All Rights Reserved.</p>
</div>

</body>
</html>

