<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link rel="stylesheet" href="../public/css/index.css" th:href="@{/css/index.css}">

</head>
<body>

<form method="post">
<div class="navbar">

    <a href="index.html" class="logo-link"></a>
    <ul>
        <li><a href="login.html">Login</a></li>
        <li><a href="ordrer.html">Ordrer</a></li>
        <li><a href="admin.html">Admin</a></li>
    </ul>
</div>

<div class="main-content">
        <div class="Billede-box">
        <label> Bestil carpot Idag </label>
                <button type="submit" formaction="/CustomizeCarport">Customize</button>
        </div>

    <div class="Billede-box">
        <label> Bestil carpot Idag </label>
        <button type="submit" formaction="/CustomizeCarport">Customize</button>
    </div>
</div>
<div class="footer">
    <p>&copy; 2024 Sample Website. All Rights Reserved.</p>
</div>
</form>
</body>
</html>

