<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<div class="main-content">

    <div class="Container">
    <form method="post">
        <fieldset>
            <br>
                <input type="text" name="username" placeholder="Email" >
            <br>
                <input type="password" name="password" placeholder="Password" >
            <br>

        <button type="submit" formaction="/login" class="btn">Login</button>
        <button type="submit" formaction="/goTocreateUser" class="btn">Opret bruger</button>
        </fieldset>
    </form>
    </div>
</div>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>