<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>

<div class="navbar">
    <ul>
        <li><a href="index.html">Bestil</a></li>
    </ul>
</div>
<div class="main-content">
    <div class="login-box">
    <form class="login-form" action="login.php" method="post">
        <input type="text" name="username" placeholder="Email" required>
        <br>
        <input type="password" name="password" placeholder="Password" required>
        <br>
        <a href="bestilling1.html" class="btn">Login</a>
    </form>
    </div>
</div>
<div class="footer">
    <p>&copy; 2024 Sample Website. All Rights Reserved.</p>
</div>

</body>
</html>