<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>


<div class="main-content">

    <form method="post">
        <div class="Container">
            <label> Dine Informationer </label>
            <fieldset>
            <div class="infoform">
                <p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p>
                <input type="text" name="name" required th:value="${session.currentUser != null ? session.currentUser.firstName : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'First Name'}">
                <input type="text" name="lastname" required th:value="${session.currentUser != null ? session.currentUser.lastName : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'Last Name'}">
            </div>
            <div class="infoform">
                <input type="text" name="streetname" required th:value="${session.currentUser != null ? session.currentUser.address.streetName : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'Street Name'}">
                <input type="text" name="postalCode" required th:value="${session.currentUser != null ? session.currentUser.address.postalCode : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'postalCode'}">
                <input type="text" name="streetnumber" required th:value="${session.currentUser != null ? session.currentUser.address.houseNumber : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'House Number'}">
            </div>
            <div class="infoform">
                <input type="text" name="mail" required th:value="${session.currentUser != null ? session.currentUser.email : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'Email'}">
                <input type="text" name="phonenumber" required th:value="${session.currentUser != null ? session.currentUser.phoneNumber : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'Phone Number'}">
            </div>
            </fieldset>

            <fieldset>
            <div class="infoform">
                <textarea id="additional-comments" name="additional-comments" placeholder="Magnus Er HIM!" readonly></textarea>
                <label for="agree">Jeg accepterer betingelserne</label>
                <input type="checkbox" id="agree" name="agree" required>
            </div>

            </fieldset>
            <button type="submit" class="btn" th:if="${session.currentUser == null}" formaction="/OrderNoUser" name="button"> bestil </button>
            <button type="submit" class="btn" th:if="${session.currentUser != null}" formaction="/Order" name="button"> bestil </button>

        </div>

    </form>
</div>

<div th:replace="~{fragments :: footer}"></div>


</body>
</html>
