<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<div class="main-content">

    <form method="post" action="orderCarport">
    <div class="Bestilling-box2">
        <div class="Container">
        <label> Du har Bestilt en Carport med følgende mål </label>

            <ul>
                <li>Længde: <span type="text"  required th:text="${session.carport.length}"></span></li>
                <li>Bredde: <span type="text"  required th:text="${session.carport.width}"></span></li>
                <li>Skur til : <span type="text" required th:text="${session.carport.hasShed}"></span></li>
            </ul>

        </div>
    </div>
    <div class="Container">
        <div class="carport-svg-topview">
            <div th:utext="${session.svg}"></div>
        </div>
    </div>
    </form>
    </div>

<div class="carport-svg-topview">
    <div th:utext="${session.svg}"></div>
</div>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>
