<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bestillingen bruger informationer </title>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>


<div class="main-content">

    <form method="post">
        <div class="Container">
            <label> Dine Informationer </label>
            <fieldset>
                <div class="infoform">
                    <input type="text" name="firstName" required th:value="${session.currentUser != null ? session.currentUser.firstName : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'First Name'}">
                    <input type="text" name="lastName" required th:value="${session.currentUser != null ? session.currentUser.lastName : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'Last Name'}">
                </div>
                <div class="infoform">
                    <input type="text" name="streetName" required th:value="${session.currentUser != null ? session.currentUser.address.streetName : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'Street Name'}">
                    <input type="text" name="cityName" required th:value="${session.currentUser != null ? session.currentUser.address.cityName :''}" th:if="${session.currentUser != null}">
                    <input type="text" name="postalCode" required th:value="${session.currentUser != null ? session.currentUser.address.postalCode : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'postalCode'}">
                    <input type="text" name="houseNumber" required th:value="${session.currentUser != null ? session.currentUser.address.houseNumber : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'House Number'}">
                </div>
                <div class="infoform">
                    <input type="text" name="email" required th:value="${session.currentUser != null ? session.currentUser.email : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'Email'}">
                    <input type="text" name="phoneNumber" required th:value="${session.currentUser != null ? session.currentUser.phoneNumber : ''}" th:attr="placeholder=${session.currentUser != null ? '' : 'Phone Number'}">
                </div>
            </fieldset>

            <fieldset>
                <div class="infoform">
                    <textarea id="additional-comments" name="additional-comments" placeholder="Magnus Er HIM!" readonly></textarea>
                    <label for="agree">Jeg accepterer betingelserne</label>
                    <input type="checkbox" id="agree" name="agree" required>
                </div>

            </fieldset>
            <button type="submit" class="btn" th:if="${session.currentUser == null}" formaction="/OrderNoUser" name="button"> bestil </button>
            <button type="submit" class="btn" th:if="${session.currentUser != null}" formaction="/Order" name="button"> bestil </button>

        </div>

    </form>
</div>

<div th:replace="~{fragments :: footer}"></div>


</body>
</html>
