<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ordreoversigt </title>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<div class="main-content">
    <div class="Container">
    <form method="post" action="orderCarport">
            <fieldset>
                <h2> Du har Bestilt en Carport med følgende mål </h2>
                <br>
                <div>Længde: <span type="text" th:text="${session.carport.length}"></span></div>
                <br>
                <div>Bredde: <span type="text" th:text="${session.carport.width}"></span></div>
                <br>
                <div>Skur til: <span type="text" th:text="${session.carport.hasShed}"></span></div>
            </fieldset>
    </form>
            <div th:if="${session.currentUser.password == null}">
            <form method="post" action="loginNoUser">
                <button type="submit"  name="button" class="btn">Opret bruger for at se ordre</button>
            </form>

            </div>
        </div>


    <div class="Container" th:if="${order.status == 'accepted' || order.status == 'done'}">
        <ul th:each="materialString : ${materialString}">
                <li th:text="${materialString}"></li>
        </ul>
        </fieldset>
    </div>

    <div class="ContainerSvg" th:if="${order.status == 'accepted' || order.status == 'done'}">
        <fieldset>
        <h2> Din plantegning </h2>
        </fieldset>
        <span id="spanSvg" th:utext="${session.svg}">
        </span>
    </div>
</div>


<div th:replace="~{fragments :: footer}"></div>

</body>



</html>

