<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="navbar">
    <a href="index.html" class="logo-link"></a>
    <ul>
        <li><a href="login.html">Login</a></li>
        <li><a href="ordrer.html">Ordrer</a></li>
        <li><a href="admin.html">Admin</a></li>
    </ul>
</div>

<div class="main-content">
    <div class="Bestilling-box">
        <label> Dine Informationer </label>
        <form method="post" action="/updateUser">
            <label for="firstName">First Name:</label><br>
            <input type="text" id="firstName" name="firstName" th:value="${session.currentUser.firstName}"><br>
            <label for="lastName">Last Name:</label><br>
            <input type="text" id="lastName" name="lastName" th:value="${session.currentUser.lastName}"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" th:value="${session.currentUser.password}"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" th:value="${session.currentUser.email}"><br>
            <label for="phoneNumber">Phone Number:</label><br>
            <input type="text" id="phoneNumber" name="phoneNumber" th:value="${session.currentUser.phoneNumber}"><br>
            <fieldset>
                <legend>Address:</legend>
                <input type="text" id="streetName" name="streetName" th:value="${session.currentUser.address.streetName}"><br>
                <input type="text" id="houseNumber" name="houseNumber" th:value="${session.currentUser.address.houseNumber}"><br>
                <input type="text" id="postalCode" name="postalCode" th:value="${session.currentUser.address.postalCode}"><br>
                <input type="text" id="cityName" name="cityName" th:value="${session.currentUser.address.cityName}"><br>
            </fieldset>

            <button type="submit">Update Information</button>
        </form>
    </div>


    <div class="Bestilling-box">
        <label> Dine ordre </label>
    </div>
</div>


<div class="footer">
    <p>&copy; 2024 Sample Website. All Rights Reserved.</p>
</div>

</body>
</html>