<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website - Home</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="main-content">
    <div class="Bestilling-box">
        <label> Dine Informationer </label>
        <div class="infoform">
            <input type="text" id="navn" name="navn" placeholder="Navn" required>
            <input type="text" id="efternavn" name="efternavn" placeholder="Efternavn" required>

        </div>
        <div class="infoform">
            <input type="text" id="vejnavn" name="vejnavn" placeholder="Vejnavn" required>
            <input type="text" id="number" name="number" placeholder="Nummer" required>
        </div>
        <div class="infoform">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="tel" id="phone" name="phone" placeholder="Telefonnummer" required>
        </div>
    </div>

    <div class="Bestilling-box">
<label> Dine ordre </label>
        </div>
</div>



<div class="footer">
    <p>&copy; 2024 Sample Website. All Rights Reserved.</p>
</div>

</body>
</html>