<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Brugerside </title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>


<div class="main-content">

    <div class="Container">
        <form method="post" action="/updateUser">

            <fieldset>
                <h2> Dine informationer </h2>
            <label for="firstName">First Name:</label><br>
            <input type="text" id="firstName" name="firstName" th:value="${session.currentUser.firstName}"><br>
            <label for="lastName">Last Name:</label><br>
            <input type="text" id="lastName" name="lastName" th:value="${session.currentUser.lastName}"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" th:value="${session.currentUser.password}"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" th:value="${session.currentUser.email}"><br>
            <label for="phoneNumber">Phone Number:</label><br>
            <input type="text" id="phoneNumber" name="phoneNumber" th:value="${session.currentUser.phoneNumber}"><br>
            </fieldset>


            <fieldset>
                <h2> Address </h2>
                <label for="streetName">Street Name:</label><br>
                <input type="text" id="streetName" name="streetName" th:value="${session.currentUser.address.streetName}"><br>
                <label for="houseNumber">House Number:</label><br>
                <input type="text" id="houseNumber" name="houseNumber" th:value="${session.currentUser.address.houseNumber}"><br>
                <label for="postalCode">Postal Code:</label><br>
                <input type="text" id="postalCode" name="postalCode" th:value="${session.currentUser.address.postalCode}"><br>
                <label for="cityName">City Name:</label><br>
                <input type="text" id="cityName" name="cityName" th:value="${session.currentUser.address.cityName}"><br>
            </fieldset>

            <button type="submit" class="btn"> Opdater informationer </button>

    </form>
</div>

    <div class="Container">
        <label> Dine ordrer </label>
        <div class="ContainerAdmin list">
        <table>
            <thead>
            <tr>
                <th>OrdreID</th>
                <th>Status</th>
                <th>Pris</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orderList}">
                <td th:text="${order.orderID}"></td>
                <td th:text="${order.status}"></td>
                <td th:text="${order.totalPrice}"></td>
                <td>
                    <form method="post" action="/inspectUserOrder">
                        <input type="hidden" name="order_id" th:value="${order.orderID}">
                        <button type="submit" class="adbtn" th:if="${order.status == 'accepted' ||  order.status == 'Accepted'}">Inspect order</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        </div>

    </div>
</div>


<div th:replace="~{fragments :: footer}"></div>

</body>
</html>